{% extends 'base.html.twig' %}

{% block title %}Comparator{% endblock %}

{% block main %}

{# {% for element in elements %}
    {{ dump(element.value) }}
{% endfor %} #}

<div>
	<h2>{{ item.title }}</h2><br>
	<a href='{{ item.link }}' target='_blank'>voir l'article</a><br><br>
	{{ item.description }}<br>
</div>

<br>

<table>
	<thead>
		<tr>
		{% for element in elements %}
			<th>{{ element.name }}</th>
		{% endfor %}
		</tr>
	</thead>
		<tbody>
			<tr>
			{% for element in elements %}
				<td>{{ element.value }}</td>
			{% endfor %}
		</tbody>
</table>

{{ dump(item) }}

{% endblock %}
